@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Seja bem vindo</h2>
    <h2>Este teste foi realizado para DBM.</h2>
    <p>Desenvolvido por <strong>Fabio A. Carvalho</strong>.</p>
    <p>LinkedIn: <a href="https://linkedin.com/in/fabioacarvalho" target="blank">LinkedIn Fabio Carvalho</a></p>
        
    <p>API do Projeto acesse: <a href="http://localhost:8000/swagger" target="blank">Documentação API - ASP.NET Core</a>.</p>
</div>
